html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  width: 100%;
  position: relative;
}

#root{
  width: 100%;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}
section{
  max-width: 100vw;
  overflow-x: hidden;
}